$theme_fg_color: #f8f8f2;
$theme_bg_color: #1e1f29;
$accent_fg_color: #f8f8f2;
$accent_bg_color: #1e1f29;
$theme_base_color: #282a36;
$theme_selected_bg_color: rgba(189, 147, 249, 0.5);
$theme_selected_fg_color: #f8f8f2;
$insensitive_bg_color: #22232e;
$insensitive_fg_color: #8b8c8e;
$theme_unfocused_fg_color: #8b8c8e;
$theme_unfocused_bg_color: #1e1f29;
$theme_unfocused_selected_bg_color: rgba(189, 147, 249, 0.5);
$theme_borders: rgba(25, 26, 34, 0.9);
$theme_unfocused_borders: rgba(26, 27, 35, 0.91);
$theme_warning_color: #ff9f39;
$theme_error_color: #ff3c3c;
$theme_success_color: #4caec3;
$theme_placeholder_text_color: #cfcfcd;
