$theme_fg_color: #dedede;
$theme_text_color: #dedede;
$theme_bg_color: #333333;
$theme_base_color: #242424;
$theme_selected_bg_color: #498dff;
$theme_selected_fg_color: #ffffff;
$fg_color: #dedede;
$text_color: #dedede;
$bg_color: #333333;
$base_color: #242424;
$selected_bg_color: #498dff;
$selected_fg_color: #ffffff;
$insensitive_bg_color: #383838;
$insensitive_fg_color: rgba(rgba(222, 222, 222, 0.45), 0.5);
$insensitive_base_color: #242424;
$theme_unfocused_fg_color: #dedede;
$theme_unfocused_text_color: #dedede;
$theme_unfocused_bg_color: #333333;
$theme_unfocused_base_color: #242424;
$borders: rgba(255, 255, 255, 0.12);
$unfocused_borders: rgba(255, 255, 255, 0.12);
$warning_color: #F27835;
$error_color: #FC4138;
$success_color: #71c837;
$placeholder_text_color: #A8A8A8;
$link_color: #3484e2;
$content_view_bg: #242424;
$wm_title: rgba(#e1dbdb, 0.8);
$wm_unfocused_title: rgba(#e1dbdb, 0.5);
$wm_bg: #373737;
$wm_bg_unfocused: #404040;
$wm_highlight: #3f3f3f;
$wm_shadow: rgba(black, 0.35);
$wm_button_close_bg: #cc575d;
$wm_button_close_hover_bg: #d7787d;
$wm_button_close_active_bg: #be3841;
$wm_icon_close_bg: #2f343f;
$wm_button_hover_bg: #454C5C;
$wm_button_active_bg: #498dff;
$wm_button_hover_border: #262932;
$wm_icon_bg: #90939B;
$wm_icon_unfocused_bg: #666A74;
$wm_icon_hover_bg: #C4C7CC;
$wm_icon_active_bg: #ffffff;
$titlebar_gradient_a: whitesmoke;
$titlebar_gradient_b: #e2e2e2;
$budgie_tasklist_indicator_color: #498dff;
$budgie_tasklist_indicator_color_active: #498dff;
$budgie_tasklist_indicator_color_active_window: #3b5f9d;
$budgie_tasklist_indicator_color_attention: #F27835;

