@import "./colors";

.DockBox {
    border-radius: 0.5em;
    background-color: rgba($theme_bg_color, 0.7);
    padding: 0.7em 1.2em;
    margin: 0.5em;
    color: $insensitive_fg_color;
}

.DockClassIcon {
    padding: 0em 0.25em 0 0.25em;
}

.DockClassItemEB {
    &:hover {
        .DockClassIcon {
            border-radius: 5em;
            background-color: rgba($theme-bg-color, 0.7);
        }
    }
}

.activeIcon {
    background-color: $theme_fg_color;
    border-radius: 5em;
    padding: 0;
    margin: 0.5em 0 0 0;
    font-size: 0.5em;
    min-height: 0.3em;
    min-width: 0.3em;
}

.activeAppClass {
    .DockClassIcon {
        border-radius: 0.5em;
        padding: 0 0.3em;
        /* background-color: rgba($theme_selected_bg_color, 0.3); */
    }

    .activeIcon {
        background-color: $theme_fg_color;
        border-radius: 7em;
        min-height: 0.3em;
        min-width: 2.5em;
    }
}

.pinnedAppIcon {
    padding: 0.3em;
}

.instanceWindow {
    background-color: rgba($theme_bg_color, 0.7);
    border-radius: 0.5em;
}

.InstanceBox {
    padding: 0.5em;
}

.DockItem {
    &:hover {
        .DockAppLabel {
            color: $theme_fg_color;
        }
    }
}
