@import "./colors";

.DockBox {
  border-radius: 0.5em;
  background-color: rgba($insensitive_bg_color, 0.7);
  padding: 0.7em 0.5em;
  margin: 0.05em 0.5em;
  color: $insensitive_fg_color;
}

.DockClassIcon {
  padding: 0.3em
}

.DockClassItemEB {
  &:hover {
    .DockClassIcon {
      -gtk-icon-transform: translateY(-0.3em);
    }
  }
}

.activeAppClass {
  .DockClassIcon {
    border-radius: 0.5em;
    padding: 0 0.3em;
    /* background-color: rgba($theme_selected_bg_color, 0.3); */
    -gtk-icon-transform: rotate(15deg);
    -gtk-icon-effect: highlight;
  }
}

.pinnedAppIcon {
  padding: 0.3em;
  -gtk-icon-effect: dim
}