@import "./colors";

.player {
    padding: 10px;
    min-width: 350px;
    border-radius: 15px;

    .img {
        min-width: 60px;
        min-height: 60px;
        background-size: cover;
        background-position: center;
        border-radius: 13px;
        margin-right: 1em;
    }

    .title {
        font-size: 1em;
    }

    .artist {
        font-size: 0.9em;
        color: $insensitive_fg_color;
    }

    scale.position {
        padding: 0;
        margin-bottom: .3em;

        trough {
            min-height: 8px;
        }

        highlight {
            background-color: $theme_fg_color;
        }

        slider {
            all: unset;
        }
    }

    button {
        min-height: 1em;
        min-width: 1em;
        padding: .3em;

        &.play-pause {
            margin: 0 .3em;
        }
    }
}
