@import "./vars";

.VolumeOSD,
.screenOSD,
.kbdOSD {
  @include osd;
  margin: 5em;
}

.VolOSdVal {
  padding: 1em;
  font-weight: bold;
}

.Volume,
.Brightness,
.KeyboardBrightness {
  padding: 1em;
}

.VolOsdProg {
  padding: 15em;
  margin: 15em;
}