@import "./colors";

.powerProfileBox, .PPWindow {
  border-radius: 7px;
  background-color: rgba($theme_bg_color, 0.5); 
  padding: 5px;
}

.IndivisualProfileBox {
  border-radius: 7px;
  &:hover {
    color: $theme_bg_color;
    background-color: invert($theme_bg_color); 
    padding: 5px;
  }
}

.BatteryMainContents { 
  padding: 0.3em 0.45em 0.3em 0.3em;
  margin: 0em 0em 0em 0.1em;
  color: $theme_fg_color;
  // background-color: rgba($theme_bg_color, 0.6);
  border-radius: 0.5em 0em 0em 0.5em;
}

.ClockBox {  
  padding: 0 0.5em 0 0;
  margin: 0em;
  color: $theme_fg_color;
  // background-color: rgba($theme_bg_color, 0.6);
  border-radius: 0em 0.5em 0.5em 0em;
}
