@import "./vars";

.audioWindowspeaker, .audioWindowmicrophonr {
    @include audio;
    margin: 7px;
}

.audioWinBox {
    border-radius: 15px;
}

.speakerStreamBox, .microphoneStreamBox {
    @include volStreamBox
}

.speakerStreamHeader, .microphoneStreamHeader {
    font-weight: bold;
}

.speakerSingleStreamBox, .microphoneSingleStreamBox {
    @include indivisualStream;
    &:hover {
        background-color: $hover-color;
    }
}

.speakerSlider, .microphoneSlider {
    @include sliders;
    margin: 10px;
}

.audioIcSlide {
    padding: 7px;
    margin: 7px;
}
