@import "./colors";

.nullWsp {
    .wspIcon {
        background-color: rgba($theme_bg_color, 0.45);
    }
    .wspName {
        color: gray;
    }
    .Active {
        margin: 0;
        padding: 0 1.9em;
        background-color: rgba($theme_selected_bg_color, 0.7);
        .wspName {
            color: $theme_bg_color;
        }
    }
}

.wspName {
    color: $theme_fg_color;
}

.wspIcon {
    padding: 0.9em;
    background-color: rgba($theme_bg_color, 0.7);
    margin: 0;
}

.endsRight {
    border-radius: 0 0.5em 0.5em 0;
}

.endsLeft {
    border-radius: 0.5em 0 0 0.5em;
}

.Active {
    margin: 0;
    padding: 0 1.9em;
    background-color: rgba($theme_selected_bg_color, 0.7);
    .wspName {
        color: $theme_bg_color;
    }
}
